<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" 
      package="de.jojahn.campus" > 
    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name" 
    	android:theme="@android:style/Theme.Light.NoTitleBar" >    	
    	<uses-library android:name="com.google.android.maps" />    	    	
    	<activity android:name=".menu.MenuActivity" 
    		android:screenOrientation="portrait" >         	
         	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>             
        </activity>
        
        <activity android:name=".floor.FloorListActivity" 
        	android:screenOrientation="portrait" >          
        </activity>
        
        <activity android:name=".floor.FloorActivity"
         	android:screenOrientation="portrait" >           
        </activity>
    	
        <activity android:name=".map.MapsActivity"
        	android:screenOrientation="portrait" >        
        </activity>
        
        <activity android:name=".mensa.MensaActivity"
        	android:screenOrientation="portrait" >           
        </activity>
        
        <activity android:name=".news.NewsActivity"
        	android:screenOrientation="portrait" >             
        </activity>
        
        <activity android:name=".news.NewsListActivity"
        	android:screenOrientation="portrait" >         
        </activity>
        
        <activity android:name=".search.SearchActivity"
        	android:screenOrientation="portrait" >         
        </activity>
        
        <activity android:name=".search.SearchResultActivity"
        	android:screenOrientation="portrait" >         
        </activity>
        
        <activity android:name=".settings.EditPreferences"
        	android:screenOrientation="portrait" >         
        </activity>
        
    </application>
</manifest>